Host virt-m1-01
HostName 172.21.1.11
User root
Host virt-m1-02
HostName 172.21.1.12
User root
Host virt-m2-01
HostName 192.168.5.40
User root
Host szerver
HostName 192.168.0.122
User root
Port 22222
Host mail
HostName 192.168.5.41
User ladmin
Host nyarad-stick
ProxyJump admin@172.21.1.254
HostName 172.21.201.6
User ladmin
Host backup-m1-02
User ladmin
HostName 172.21.1.9
Host backup-m2-02
User ladmin
HostName 192.168.5.38
Host dc-m1-01
User root
HostName 172.21.1.1
Host docker
User ladmin
HostName docker.domain.ad
Host munkalap
HostName 192.168.7.100
Host web-m2-01
HostName 192.168.5.44
User ladmin
